{% load static %}
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <!-- jQuery -->
    <script src="{% static 'portfolio/assets/plugins/js/jquery.min.js' %}"></script>
    <!-- popper -->
    <script src="{% static 'portfolio/assets/plugins/js/popper.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'portfolio/assets/plugins/js/bootstrap.min.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'portfolio/assets/plugins/js/owl.carousel.js' %}"></script>
    <!-- validator -->
    <script src="{% static 'portfolio/assets/plugins/js/validator.min.js' %}"></script>
    <!-- wow -->
    <script src="{% static 'portfolio/assets/plugins/js/wow.min.js' %}"></script>
    <!-- mixin js-->
    <script src="{% static 'portfolio/assets/plugins/js/jquery.mixitup.min.js' %}"></script>
    <!-- circle progress-->
    <script src="{% static 'portfolio/assets/plugins/js/circle-progress.js' %}"></script>
    <!-- jquery nav -->
    <script src="{% static 'portfolio/assets/plugins/js/jquery.nav.js' %}"></script>
    <!-- Fancybox js-->
    <script src="{% static 'portfolio/assets/plugins/js/jquery.fancybox.min.js' %}"></script>
    <!-- isotope js-->
    <script src="{% static 'portfolio/assets/plugins/js/isotope.pkgd.js' %}"></script>
    <script src="{% static 'portfolio/assets/plugins/js/packery-mode.pkgd.js' %}"></script>
    <!-- Map api -->
    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCRP2E3BhaVKYs7BvNytBNumU0MBmjhhxc"></script>
    <!-- Custom Scripts-->
    <script src="{% static 'portfolio/assets/js/map-init.js' %}"></script>
    <script src="{% static 'portfolio/assets/js/custom-scripts.js' %}"></script>